<h2>Depositar dinero</h2>
<form action="/deposit" method="post">
  <label>Monto a depositar:</label><br>
  <input type="number" name="amount" min="1" required><br><br>
  <button type="submit">Depositar</button>
</form>