<h2>Deposit</h2>
<form action="/deposit" method="post">
  <label>Deposit ammount:</label><br>
  <input type="number" name="amount" min="1" required><br><br>
  <button type="submit">Deposit</button>
</form>