<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CloverWallet</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/assets/fabicon.png" type="image/png" />
  <script src="/js/main.js" defer></script>
</head>
<body>
<header class="main-header">
  <div class="logo-title">
    <a href="/welcome" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
      <img src="/assets/trebol.svg" alt="CloverWallet Logo" style="width: 48px; height: 48px; margin-top: 6px;">
      <h1 style="margin: 0; font-weight: 700;">CloverWallet</h1>
    </a>
  </div>
  <nav>
    <% if session[:dni] %>
      <a href="/welcome">Home</a> |
      <a href="/dashboard">My Balance</a> |
      <a href="/deposit">Deposit</a> |
      <a href="/withdraw">Withdraw</a> |
      <a href="/transfer">Transfer</a> |
      <a href="/logout">Close session</a>
    <% else %>
      <a href="/signup">Sign Up</a> |
      <a href="/login">Sign In</a>
    <% end %>
  </nav>
  <hr>
</header>

  <% if @error %>
    <p style="color: red; text-align: center;"><%= @error %></p>
  <% end %>

  <main class="main-content">
    <%= yield %>
  </main>
</body>
</html>
