<!DOCTYPE html>
<html>
<head>
  <title>CloverWallet</title>
</head>
<body>
  <header>
    <h1>CloverWallet</h1>
    <nav>
      <% if session[:dni] %>
        <a href="/welcome">Home</a> |
        <a href="/dashboard">My Balance</a> |
        <a href="/deposit">Deposit</a> |
        <a href="/withdraw">Withdraw</a> |
        <a href="/transfer">Transfer</a> |
        <a href="/logout">Close session</a>
      <% else %>
        <a href="/signup">Sign Up</a> |
        <a href="/login">Sing In</a>
      <% end %>
    </nav>
    <hr>
  </header>

  <% if @error %>
    <p style="color: red;"><%= @error %></p>
  <% end %>

  <%= yield %>
</body>

</html>