<h2>Transfer</h2>
<form action="/transfer" method="post">
  <label>Recipient CVU:</label><br>
  <input type="text" name="destination_cvu" required><br>
  <label>Ammount to transfer:</label><br>
  <input type="number" name="amount" min="1" required><br><br>
  <button type="submit">Transfer</button>
</form>