<h2>Transferir dinero</h2>
<form action="/transfer" method="post">
  <label>CVU destino:</label><br>
  <input type="text" name="destination_cvu" required><br>
  <label>Monto a transferir:</label><br>
  <input type="number" name="amount" min="1" required><br><br>
  <button type="submit">Transferir</button>
</form>