<h2>Retirar dinero</h2>
<form action="/withdraw" method="post">
  <label>Monto a retirar:</label><br>
  <input type="number" name="amount" min="1" required><br><br>
  <button type="submit">Retirar</button>
</form>